body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, p {
  margin: 0;
  padding: 0;
}

/*查看课程列表页的样式*/
.curriculum_list_box {
  background-color: #fff;
  max-width: 750px;
  margin: 0 auto;
  font-family: 'MicrosoftYaHei';
  .return_items {
    margin: 0.36rem 0 0 0.32rem;
    .return_items_icon {
      width: 0.213rem;
      height: 0.373rem;
      display: inline-block;
      margin-right: 0.146rem;
      vertical-align: top;
    }
    .return_items_text {
      display: inline-block;
      color: #999999;
      font-size: 0.373rem;
      height: 0.373rem;
      line-height: 0.373rem;
    }
  }
  .listbox_container {
    margin-top: 0.613rem;
    width: 100%;
    .listbox_container_item {
      list-style: none;
      border-bottom: 1px solid #CCCCCC;
      height: 1.06rem;
      line-height: 1.06rem;
      padding-left: 0.8rem;
      margin-bottom: 0.32rem;
      .listbox_container_boxs {
        display: block;
        font-size: 0.426rem;
        color: #333333;
        font-family: 'PingFang-SC-Medium';
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      .listbox_container_item_text {
        position: relative;
        margin-right: 0.46rem;
        img {
          width: 0.306rem;
          height: 0.426rem;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}

/*课程大纲页的样式*/
.Syllabus_box {
  background-color: #fff;
  max-width: 750px;
  margin: 0 auto;
  font-family: 'MicrosoftYaHei';
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .clearfix {
    *zoom: 1;
  }
  .return_items {
    display: inline-block;
    text-decoration: none;
    margin: 0.36rem 0 0 0.32rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    .return_items_icon {
      width: 0.213rem;
      height: 0.373rem;
      display: inline-block;
      margin-right: 0.146rem;
      vertical-align: top;
    }
    .return_items_text {
      display: inline-block;
      color: #999999;
      font-size: 0.373rem;
      height: 0.373rem;
      line-height: 0.373rem;
    }
  }
  .Syllabus_box_title {
    /*width: 8rem;*/
    padding: 0 0.9rem;
    margin: 0.7rem auto 0.633rem;
    text-align: center;
    .left_titles {
      float: left;
      width: 1.146rem;
      height: 1.12rem;
    }
    .titles_item {
      color: #333;
      font-family: 'PingFang-SC-Medium';
      font-size: 0.426rem;
      display: inline-block;
      padding-top: 15px;
      font-weight: normal;
    }
    .right_titlres {
      float: right;
      width: 1.226rem;
      height: 0.8563rem;
      padding-top: 10px;
    }
  }
  .video_items {
    padding: 0 0.373rem;
    .video_center {
      width: 100%;
      height: 5.2rem;
    }
    .video-txts {
      margin-top: 0.4rem;
      text-align: center;
      color: #f75035;
      font-size: 0.32rem;
      font-family: 'AdobeHeitiStd-Regular';
    }
  }
  .vjs-paused .vjs-big-play-button, .vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
  }
  .video-js .vjs-big-play-button {
    font-size: 2.5em;
    line-height: 2.3em;
    height: 2.5em;
    width: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em;
    background-color: #73859f;
    background-color: rgba(115, 133, 159, .5);
    border-width: 0.15em;
    margin-top: -1.25em;
    margin-left: -1.75em;
  }
  /* 中间的播放箭头 */
  .vjs-big-play-button .vjs-icon-placeholder {
    font-size: 1.63em;
  }
  /* 加载圆圈 */
  .vjs-loading-spinner {
    font-size: 2.5em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin-top: -1em;
    margin-left: -1.5em;
  }

  .creation_boxs {
    margin-top: 2.13rem;
    .creation_boxs_title {
      font-family: 'AdobeHeitiStd-Regular';
      font-weight: normal;
      text-align: center;
      color: #333;
      font-size: 0.4rem;
      margin-bottom: 0.5333rem;
    }
    .creation_boxs_txt {
      color: #666666;
      font-size: 0.346rem;
      padding-left: 0.5rem;
      .number_items {
        display: inline-block;
        font-size: 0.4rem;
        margin-right: 0.266rem;
      }
    }
  }
}
