body {
  padding: 0;
  margin: 0; }

.console_edit_box {
  width: 100%;
  padding-top: 80px; }
  .console_edit_box .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .console_edit_box .clearfix {
    *zoom: 1; }
  .console_edit_box .top_submit_plate {
    width: 100%;
    height: 43px;
    background-color: #ebf6fd; }
    .console_edit_box .top_submit_plate .preservation_works {
      width: 97px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      outline: none;
      border: none;
      border-radius: .3em;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
      color: #fff;
      cursor: pointer;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      border-radius: 15px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 14px;
      float: right;
      background-color: #51abe9;
      color: #fefefe;
      position: relative;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      margin: 7px 14px 0 0; }
  .console_edit_box .console_conter .content_left {
    width: 70%;
    min-width: 20%;
    max-width: 80%;
    float: left; }
    .console_edit_box .console_conter .content_left .python_top_left {
      height: 100% !important; }
      .console_edit_box .console_conter .content_left .python_top_left .motion_button {
        display: flex;
        height: 6.25%;
        min-height: 53px;
        align-items: center;
        vertical-align: middle; }
        .console_edit_box .console_conter .content_left .python_top_left .motion_button .circulate_code_button {
          width: 90px;
          height: 30px;
          border: none;
          outline: none;
          color: #3e9fe2;
          background-color: #ebf6fd;
          border-radius: 15px;
          text-align: center;
          line-height: 26px;
          font-size: 14px;
          display: block;
          margin: 0 auto;
          cursor: pointer; }
        .console_edit_box .console_conter .content_left .python_top_left .motion_button .circulate_code_button:hover {
          color: #fff;
          background-color: #3e9fe2; }
      .console_edit_box .console_conter .content_left .python_top_left .python_code_content {
        width: 100%;
        height: 93.5%; }
        .console_edit_box .console_conter .content_left .python_top_left .python_code_content #code_editor {
          width: 100%;
          margin: 0 auto;
          border: none;
          height: 100%; }
          .console_edit_box .console_conter .content_left .python_top_left .python_code_content #code_editor .ace_scroller .ace_content {
            overflow-x: hidden;
            overflow-y: auto;
            width: 90% !important;
            /* height: 101% !important;*/ }
  .console_edit_box .console_conter #rightbar {
    width: 8px;
    background-color: #cccccc;
    cursor: e-resize;
    float: left; }
  .console_edit_box .content_right {
    color: #FFF;
    overflow: hidden;
    position: relative; }
    .console_edit_box .content_right #console {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black; }
      .console_edit_box .content_right #console .clearboxs {
        width: 88px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        border-radius: 15px;
        border: 1px solid #fff;
        font-family: 'MicrosoftYaHei';
        font-size: 14px;
        color: #fefefe;
        position: absolute;
        top: 14px;
        left: 50%;
        margin-left: -45px;
        z-index: 9999 !important;
        background-color: #000;
        cursor: pointer; }
      .console_edit_box .content_right #console .clearboxs:hover {
        z-index: 999;
        color: #0e1628;
        background-color: #fff; }
      .console_edit_box .content_right #console .jqconsole-header {
        color: #f4ffff;
        font-size: 16px;
        font-family: monospace;
        white-space: pre-wrap;
        word-wrap: break-word; }
      .console_edit_box .content_right #console #runResult {
        padding: 10px 10px 10px 0px;
        font-size: 14px;
        color: #c4cccc;
        font-family: monospace; }
        .console_edit_box .content_right #console #runResult .colors_box {
          font-size: 15px;
          color: #f60;
          font-weight: 700;
          margin-bottom: 10px; }
    .console_edit_box .content_right .jqconsole {
      padding: 70px 10px 10px 20px; }
    .console_edit_box .content_right .jqconsole-cursor {
      background-color: gray;
      width: 8px; }
    .console_edit_box .content_right .jqconsole-blurred .jqconsole-cursor {
      background-color: #666; }
    .console_edit_box .content_right .jqconsole-prompt {
      font-weight: 700;
      color: #fc0; }
    .console_edit_box .content_right .jqconsole-old-prompt {
      font-size: 15px;
      color: #f60;
      font-weight: 700; }
    .console_edit_box .content_right .jqconsole-input {
      color: #dd0; }
    .console_edit_box .content_right .jqconsole-old-input {
      color: #bb0;
      font-weight: normal; }
    .console_edit_box .content_right .jqconsole-output {
      font-size: 15px;
      color: #0AA81A; }
    .console_edit_box .content_right #output {
      position: absolute;
      top: -100%;
      left: -100%;
      width: 1px;
      height: 1px;
      opacity: 0; }

/*# sourceMappingURL=console.css.map */
