/*PC端的样式*/
.introduction_boxs {
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  background-color: #fff;
  font-family: '微软雅黑';
  //-moz-user-select: none;
  //-webkit-user-select: none;
  //-ms-user-select: none;
  .introduction_banner {
    width: 100%;
    height: 300px;
    background-size: cover;
    background: url("../images/introduction_banner_01.png") center center;
    .banner_text {
      width: 760px;
      padding-top: 30px;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-75%);
      -moz-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
      -o-transform: translateX(-75%);
      transform: translateX(-75%);
      .banner_text_title {
        margin: 0 0 8px 0;
        padding: 0;
        font-size: 38px;
        color: #000;
        font-weight: normal;
        font-family: 'KaiGenGothicSC-Light';
      }
      .banner_text_center {
        color: #3E3C3C;
        line-height: 25px;
        font-size: 14px;
        margin: 0 0 20px 0;
        padding: 0;
        font-family: 'KaiGenGothicSCLight';
      }
      .study_button {
        text-decoration: none;
        display: inline-block;
        width: 150px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 35px;
        color: #fff;
        background-color: #2284F1;
        font-size: 16px;
        font-family: '微软雅黑';
      }
      .purchase_money {
        text-decoration: none;
        width: 150px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 35px;
        margin-left: 25px;
        font-size: 16px;
        font-family: 'MicrosoftYaHeiLight';
        background-color: transparent;
        color: #2284F1;
        border: 1px solid #2284F1;
        display: none;
        box-sizing: border-box;
      }
    }
  }
  .Scratch_banner {
    background: url("../images/introduction_banner_01.png") center center !important;
  }
  .Python_banner {
    background: url("../images/introduction_banner_02.png") center center !important;
  }
  .NOIP_banner {
    background: url("../images/introduction_banner_03.png") center center !important;
  }
  .curriculum_navs {
    width: 100%;
    height: 153px;
    background-color: #fafafa;
    .curriculum_navs_center {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      list-style: none;
      justify-content: space-around;
      text-align: center;
      padding-top: 48px;
      .curriculum_navs_center_item {
        .navs_center_item_title {
          margin: 0 0 10px 0;
          color: #666;
          font-size: 24px;
          font-family: 'MicrosoftYaHei-Bold';
          font-weight: 600;
        }
        .navs_center_txt {
          color: #666;
          font-size: 16px;
          margin: 0;
          font-family: '微软雅黑';
        }
      }
    }
  }
  .syllabus_boxs {
    padding-top: 46px;
    text-align: center;
    .syllabus_boxs_title {
      margin: 0 0 10px 0;
      font-family: 'STXingkai';
      font-size: 30px;
      color: #333;
    }
    .syllabus_boxs_txt {
      color: #333;
      font-size: 30px;
      font-family: 'MicrosoftYaHei-Bold';
      margin: 0 0 15px 0;
    }
    .line_boxs {
      width: 194px;
      margin: 0 auto 50px;
      display: flex;
      justify-content: space-around;
      .line_boxs_item_01 {
        width: 43px;
        height: 3px;
        background-color: #ffd400;
      }
      .line_boxs_item_02 {
        width: 100px;
        height: 3px;
        background-color: #2284f1;
      }
      .line_boxs_item_03 {
        width: 43px;
        height: 3px;
        background-color: #ff3838;
      }
    }
    .syllabus_boxs_tables {
      margin: 0 auto;
      width: 1134px;
      border: solid 1px #dcdcdc;
      padding: 24px 30px 35px 30px;
      .syllabus_boxs_tab {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;
        .syllabus_boxs_tables_title {
          height: 56px;
          background-color: #2284f1;
          line-height: 56px;
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          font-family: '微软雅黑';
        }
        .syllabus_item_center {
          text-align: center;
          color: #666;
          display: flex;
          align-items: center;
          justify-content: center;
          .syllabus_boxs_item_txt {
            padding: 20px;
            line-height: 22px;
            font-family: '微软雅黑';
          }
          .font-item_01 {
            font-size: 18px;
          }
          .font-item_02 {
            font-size: 14px;
            text-align: left;
          }
        }
        .item_title_01 {
          flex: 1;

          border-right: 2px solid #fff;
          font-family: '微软雅黑';
        }
        .item_title_02 {
          flex: 2;
          border-right: 2px solid #fff;
          font-family: '微软雅黑';
        }
        .item_title_03 {
          flex: 4;
          border-right: 2px solid #fff;
          font-family: '微软雅黑';
        }
        .item_title_04 {
          flex: 3;
          border-right: 2px solid #fff;
          font-family: '微软雅黑';
          justify-content: flex-start !important;
          .syllabus_boxs_item_txt {
            width: 194px;
            margin: 0 auto;
            padding: 20px 0 !important;
            text-align: left;
          }
        }
        .item_title_05 {
          flex: 5;
          //display: none;
        }
      }
      .color_box_items:nth-child(2n-1) {
        background-color: #fff;
      }
      .color_box_items:nth-child(2n+1) {
        background-color: #f8f8f8;
      }
    }
  }
  .purchase_boxs {
    width: 100%;
    height: 150px;
    line-height: 150px;
    background-color: #f8f8f8;
    margin-top: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    .purchase_boxs_text {
      font-family: 'MicrosoftYaHeiLight';
      font-size: 18px;
      color: #666;
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      display: flex;
      .purchase_boxs_item_text {
        font-size: 20px;
        margin: 0 20px 0 11px;
        display: inline-block;
      }
      .purchase_boxs_item {
        position: relative;

      }
      .purchase_boxs_item::before, .purchase_boxs_item::after {
        content: "";
        display: inline-block;
        border-width: 9px;
        position: absolute;
        right: -14px;
        top: 6px;
        border-style: dashed solid solid dashed;
        border-color: transparent transparent transparent #bababa;
        font-size: 0;
        line-height: 0;
      }
      .purchase_boxs_item:after {
        right: -11px;
        border-color: transparent transparent transparent #F8F8F8;
      }
    }
  }
}

/*移动端的样式*/
.introduction_box_mobile {
  width: 100%;
  background-color: #eeeeee !important;
  .banner_container {
    background-color: #fff;
    padding-bottom: (35/7.5)+vw;
    .mobile_banner_box, .mobile_banner_Scratch, .mobile_banner_Python, .mobile_banner_NOIP {
      width: (750/7.5)+vw;
      height: (300/7.5)+vw;
      background-image: url("../images/scratch_mobile_banner.png");
      background-size: 100% auto;
      padding: (88/7.5)+vw 0 0 (76/7.5)+vw;
      background-repeat: no-repeat;
      background-position: center center;
      .mobile_banner_title {
        margin: 0;
        font-family: 'KaiGenGothicSC-Light';
        font-size: (34/7.5)+vw;
        color: #333333;
      }
      .mobile_purchase {
        margin: (43/7.5)+vw 0 0 0;
        display: block;
        background-color: #2284f1;
        width: (230/7.5)+vw;
        height: (54/7.5)+vw;
        line-height: (54/7.5)+vw;
        text-align: center;
        font-size: (24/7.5)+vw;
        color: #fff;
        font-family: 'MicrosoftYaHei-Bold';
        border-radius: (27/7.5)+vw;
        text-decoration: none;
      }
    }
    .mobile_banner_Scratch {
      background-image: url("../images/scratch_mobile_banner.png");
    }
    .mobile_banner_Python {
      background-image: url("../images/python_mobile_banner.png");
    }
    .mobile_banner_NOIP {
      background-image: url("../images/noip_mobile_banner.png");
    }

    .mobile_course_introduction {
      padding: (32/7.5)+vw (35/7.5)+vw (23/7.5)+vw (35/7.5)+vw;
      background-color: #fff;
      min-height: (240/7.5)+vw;
      font-size: (26/7.5)+vw;
      font-family: 'MicrosoftYaHeiLight';
      color: #666;
    }
    .mobile_course_object {
      width: (710/7.5)+vw;
      margin: 0 auto;
      background-color: #fafafa;
      padding: (35/7.5)+vw 0 (6/7.5)+vw (32/7.5)+vw;
      .course_object_item {
        display: flex;
        margin: 0 0 (24/7.5)+vw 0;
        .object_item {
          font-size: (26/7.5)+vw;
          color: #999999;
          font-family: '微软雅黑';
          margin-right: (5/7.5)+vw;
        }
        .mobile_course_text {
          font-size: (26/7.5)+vw;
          color: #333;
          font-family: '微软雅黑';
        }
      }
    }
  }
  .mobile_center_contaniner {
    background-color: #fff;
    margin-top: (20/7.5)+vw;
    width: 100%;
    .mobile_center_title {
      padding: (47/7.5)+vw 0 (50/7.5)+vw 0;
      text-align: center;
      .curriculum_text {
        margin: 0 auto (20/7.5)+vw;
        font-family: STXingkai;
        font-size: (30/7.5)+vw;
        color: #333;
      }
      .curriculum_title {
        font-family: 'MicrosoftYaHei-Bold';
        margin: 0 auto (20/7.5)+vw;
        font-size: (30/7.5)+vw;
        color: #333;
      }
      .mobile_line {
        margin: 0 auto;
        width: (234/7.5)+vw;
        display: flex;
        justify-content: space-between;
        .line_item_01 {
          width: (52/7.5)+vw;
          height: (4/7.5)+vw;
          background-color: #ffd400;
        }
        .line_item_02 {
          width: (120/7.5)+vw;
          height: (4/7.5)+vw;
          background-color: #2284f1;
        }
        .line_item_03 {
          width: (52/7.5)+vw;
          height: (4/7.5)+vw;
          background-color: #ff3838;
        }
      }
    }
    .mobile_swiper_box {
      width: 100%;
      .swiper-container {
        padding: (30/7.5)+vw;
        .swiper_slide_item {
          width: (569/7.5)+vw;
          min-height: (793/7.5)+vw;
          background-color: #ffffff;
          box-shadow: 0px 4px 10px 0px rgba(102, 102, 102, 0.2);
          padding: (52/7.5)+vw (54/7.5)+vw 0 (54/7.5)+vw;
          font-family: '微软雅黑';
          .swiper_slide_title {
            font-family: '微软雅黑';
            font-size: (38/7.5)+vw;
            color: #282828;
            margin: 0 auto (24/7.5)+vw;
            text-align: center;
          }
          .course_name {
            font-family: '微软雅黑';
            font-weight: 500;
            text-align: center;
            font-size: (30/7.5)+vw;
            color: #2284f1;
            margin: 0;
          }
          .mobile_swiper_list_title {
            font-size: (26/7.5)+vw;
            color: #333;
            margin: (60/7.5)+vw 0 (15/7.5)+vw 0;
          }
          .mobile_swiper_list_center {
            font-size: (26/7.5)+vw;
            color: #999;
          }
        }
      }
    }
    .mobile_learning_package {
      margin: 0 auto;
      display: none;
      text-decoration: none;
      width: (230/7.5)+vw;
      height: (54/7.5)+vw;
      line-height: (54/7.5)+vw;
      border-radius: (27/7.5)+vw;
      text-align: center;
      color: #2284f1;
      font-size: (24/7.5)+vw;
      border: solid 1px #2284f1;
    }
    .mobile_continue {
      margin-top: (35/7.5)+vw;
      width: 100%;
      display: flex;
      height: (165/7.5)+vw;
      background-color: #f8f8f8;
      justify-content: center;
      align-items: center;
      font-size: (28/7.5)+vw;
      color: #666;
      font-family: 'MicrosoftYaHeiLight';
      .mobile_continue_txt {
        display: inline-block;
        margin: 0 (52/7.5)+vw 0 (14/7.5)+vw;
      }
      .mobile_continue_icon {
        position: relative;
      }
      .mobile_continue_icon::before, .mobile_continue_icon::after {
        content: "";
        display: inline-block;
        border-width: (15/7.5)+vw;
        position: absolute;
        right: -(26/7.5)+vw;
        top: -(16/7.5)+vw;
        border-style: dashed solid solid dashed;
        border-color: transparent transparent transparent #bababa;
        font-size: 0;
        line-height: 0;
      }
      .mobile_continue_icon:after {
        right: -(23/7.5)+vw;
        border-color: transparent transparent transparent #F8F8F8;
      }
    }
  }
}